/* Footer utama */
.main-footer {
    background-color: #0374f4; /* Main blue color for footer */
    color: #ffffff;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}