body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #A8D2DF; /* Soft blue background color */
}

.main-header {
    background-color: #0855A0; /* Premium blue for header */
    color: #ffffff; /* White text for contrast */
    padding: 10px 1; /* Padding top and bottom */
}

.header-container {
    display: flex;
    align-items: center;
    width: 98%;
    margin: 0 auto;
    padding: 0;
}

.site-title {
    margin: 0;
    font-size: 24px;
}

.logo {
    width: 80px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav ul li {
    margin-left: 15px;
}

.main-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.main-nav ul li a:hover {
    background-color: #3b82f6; /* Lighter blue on hover */
}

.main-container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #0855A0; /* Premium blue for sidebar */
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #3b82f6; /* Lighter blue on hover */
}

.content-container {
    margin-left: 270px;
    padding: 20px;
    width: calc(100% - 270px);
}

.page-title {
    font-size: 28px;
    color: #0855A0; /* Premium blue for text */
    margin-bottom: 20px;
}

.dashboard-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    width: calc(25% - 20px);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #0855A0; /* Premium blue for button */
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}

.card a:hover {
    background-color: #3b82f6; /* Lighter blue on hover button */
}

.main-footer {
    background-color: #0855A0; /* Premium blue for footer */
    color: #ffffff;
    text-align: center;
    padding: 0.5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
